@using AspNetBrowserLocale.Core
@{
    ViewBag.Title = "Usage";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>@@Html.LocaleDateTime(null)</td>
                    <td>@Html.LocaleDateTime(null)</td>
                </tr>
                <tr>
                    <td>@@Html.LocaleDateTime(DateTime.Now)</td>
                    <td>@Html.LocaleDateTime(DateTime.Now)</td>
                </tr>
                <tr>
                    <td>@@Html.LocaleDateTime(DateTime.UtcNow)</td>
                    <td>@Html.LocaleDateTime(DateTime.UtcNow)</td>
                </tr>
                <tr>
                    <td>@@Html.LocaleDateTime(new DateTime(2015, 1, 1, 0, 0, 0, DateTimeKind.Local))</td>
                    <td>@Html.LocaleDateTime(new DateTime(2015, 1, 1, 0, 0, 0, DateTimeKind.Local))</td>
                </tr>
                <tr>
                    <td>@@Html.LocaleDateTime(new DateTime(2015, 1, 1, 0, 0, 0, DateTimeKind.Unspecified))</td>
                    <td>@Html.LocaleDateTime(new DateTime(2015, 1, 1, 0, 0, 0, DateTimeKind.Unspecified))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
